apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: wsrestlogin-deployment
  namespace: dev
  labels:
    app: wsrestlogin
spec:
  replicas: 1
  selector:
    matchLabels:
      app: wsrestlogin
  template:
    metadata:
      labels:
        app: wsrestlogin
    spec:
      containers:
        - name: wsrestlogin
          image: 887482798966.dkr.ecr.us-east-2.amazonaws.com/sophosstore/wsrestlogin:beta
          resources:
            limits:
              memory: "500Mi"
              cpu: "200m"
          imagePullPolicy: Always
          ports:
          - name: ed-port
            containerPort: 18080
          envFrom:
          - configMapRef:
              name: wsrestlogin-configmap
      restartPolicy: Always
